<h1>Homepage</h1>
<% flash.each do |type, msg| %>
  <div style='color: green'>
    <%= msg %>
  </div><br>
<% end %>
<%= link_to "Create new kitten", new_kitten_path %><br><br>
<% @kitten.each do |k| %>
  <div style="font-size: 25px"><%= link_to k.name, kitten_path(k) %></div>
  <div>
    Age: <%= k.age %> |
    Cuteness: <%= k.cuteness %> |
    Softness: <%= k.softness %> |
    <%= link_to 'Edit', edit_kitten_path(k) %> |
    <%= link_to 'Delete', kitten_path(k), method: :delete %>
  </div>
  <br>
<% end %>
