<h1><%= @kitten.name %> profile</h1>
<% flash.each do |type, msg| %>
  <div style='color: green'>
    <%= msg %>
  </div>
<% end %><br>
<div>
  Age: <%= @kitten.age %> |
  Cuteness: <%= @kitten.cuteness %> |
  Softness: <%= @kitten.softness %> |
  <%= link_to 'Edit', edit_kitten_path(@kitten) %> |
  <%= link_to 'Delete', kitten_path(@kitten), method: :delete %>
</div>
<br><br>
<%= link_to 'Homepage', root_path %>
